// Component
// Title

%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;

}

.section-title{
  @extend %title;
}

.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;
  }
}



// Links
.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;


  &.large-link{
    font-size: $linkLargeFont;
  }

  &:hover{
    color: $linkHoverColor;
  }
}

// Buttons

.btn{
  padding: 12px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 2px;
  display: inline-block;

  & + .btn {
    margin-left: $defaultIndent;
  }

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disabled{
    background-color: $btnDisabledBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisabledBgHover;
    }
  }
}

// Table

.table{
  font-size: $tableFontSize;
  border-collapse: collapse;

  &.full-width{
    width: 100%;
  }
  tbody{

    tr{

      &:last-child{
        td{
            border-bottom: 1px solid $lightGrey;
        }
      }

      &:hover {
        background-color: $tableTrHover;
      }
    }
  }

  th{
    padding: 30px 18px;
    color: $grey;
  }

  td{
    border-top: 1px solid $lightGrey;
    padding: 18px;

    &.td-title{
      font-size: 16px;
      color: $grey;
    }
  }
}
.table-sort{
  color: $grey;
  padding: 8px 10px;
  margin: -8px -10px;
  border-radius: 2px;
  cursor: pointer;
  &:hover{
    background-color: $xsLightGrey;
    color: $black;
  }
}

// Pagination
%activePaginationLink{
  background-color: $xsLightGrey;
  color: $darkGrey;
  border-radius: 2px;
}


.pagination{
  li{
    display: inline-block;

    &.active{
      a{
        @extend %activePaginationLink;
      }
    }

    a{
      display: inline-block;
      padding: $defaultIndent;

      &:hover{
       @extend %activePaginationLink;
      }
    }
  }
}

// Notification
.notification{
  font-size: $notifFontSize;
  color: $notifDefaultColor;
  cursor: pointer;

  .posi-notif{
    background-color: $posiNotifColorBg;

    &:hover{
      background-color: $posiNotifHoverColorBg;
    }

    &::before{
      content:'';
      padding-left: 22px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      border:  1px #fff solid;
      border-radius: 50%;
      display: inline-block;
    }
  }
  .nega-notif{
    background-color: $negaNotifColorBg;

    &:hover{
      background-color: $negaNotifHoverColorBg;
    }
  }
}

// container
.container-fluid{
  padding: $defaultIndent;
}
.container-sm{
  max-width: 684px;
  margin: 0 auto;
}


// row
.row{
  margin-left: -$defaultIndent;
  margin-right: -$defaultIndent;
}

// header

.header{
  background-color: #fff;
  border-bottom: 1px solid  $lightGrey;
  right: 0;
  left: 0;
  height: 60px;
}

// Aside
%activeLink{
  background-color: #282828;
  color: #fff;
  border-left-color: $orange;
}
.aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
      padding: $defaultIndent;

     .menu-btn{
       cursor: pointer;
       span{
         display: block;
         width: 18px;
         height: 2px;
         background-color: $darkGrey;

         & + span{
           margin-top: 5px;
         }
       }
     }
  }

  .aside-menu{

    ul{

      li{

        &.active{
          a{
            @extend %activeLink;
          }
        }

        a{
          color: $darkGrey;
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          .icon{
            font-size: 17px;
            margin-right: 15px;
          }
          
          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $defaultIndent;
    border-top: $darkGrey;

    .manager-info{
      margin-top: $defaultIndent;

      .manager-photo{
        position: relative;
        margin-right: 10px;

        .status{
          width: 11px;
          height: 11px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;

          &.online{
            background-color: $green;
          }
          &.offline{
            background-color: $red;
          }
        }
      }
    }

  }
}

// Content wrapper
.content-wrapper{
  padding: $defaultIndent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.panel{
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & + .panel{
    margin-top: $defaultIndent;
  }

  .panel-header{
    border-bottom: 1px solid  $lightGrey;
    padding: $defaultIndent;
  }

  &.links{

    &.panel-body{
      padding: $defaultIndent;
    }
  }

  .panel-body{
    padding: 0 $defaultIndent;
  }

  .panel-form{
    padding: 40px 0;
    border-bottom: 1px solid $lightGrey;
    text-align: center;

    form{
      width: 455px;
      display: inline-block;

      .form-control{
        width: 310px;
      }

      .label-group{
        & + .label-group{
          margin-top: 15px;
        }
      }
    }
  }
  .panel-footer{
    padding: 30px 0;
  }
}

.panel-date{
  padding: 30px 0;
  border-bottom: 1px solid $lightGrey;
}

// date input block
.datepicker-form{
  .btn{
    vertical-align: middle;
  }
}
.date-input-wrap{
  padding: 4px 0;
  border: 1px solid $lightGrey;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;

  .date-control{
    padding: 11px 16px;
  }

  #to{
    border-left: 1px solid $lightGrey;
    background: url("../img/calendar.svg") no-repeat 90%;
    background-size: 13px 13px;
  }
}

// Default input
.form-control{
  border: 1px solid $lightGrey;
  height: 40px;
}

// Label group
.label-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// chart wrap
.chart-wrap{
  padding-bottom: 30px;
}

// modal

.modal {
  background-color: #fff;
  width: 1075px;
  display: none;

  .modal-header {
    @extend %title;
    padding: $defaultIndent;
    border-bottom: 1px solid $lightGrey;
  }
  .modal-body {
    padding: 0 $defaultIndent;
  }


}

// Checkbox wrap
.checkbox-wrap{
  padding: 30px 0;

  .checkboxes{
    padding-top: 30px;
    height: 150px;
    flex-wrap: wrap;

    .checkbox-group{
      padding: 12px;

      &:hover{
        background-color: $xsLightGrey;
      }
    }
  }
}

#add-links-modal{
  width: 1075px;

  .checkbox-group{
    width: 33.3333%;
  }
}